@font-face {
  font-family: "icon-font";
  src: url('../fonts/icon-font/icon-font.eot');
  src: url('../fonts/icon-font/icon-font.eot?#iefix') format('eot'),
    url('../fonts/icon-font/icon-font.woff2') format('woff2'),
    url('../fonts/icon-font/icon-font.woff') format('woff'),
    url('../fonts/icon-font/icon-font.ttf') format('truetype'),
    url('../fonts/icon-font/icon-font.svg#icon-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin fi($icon) {
  font-family: "icon-font";
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: $icon;

}

.fi {
  display: block;
}

.fi.fi:before {
  display: block;
  font-family: "icon-font";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fi.fi-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.fi.fi-2x { font-size: 2em; }
.fi.fi-3x { font-size: 3em; }
.fi.fi-4x { font-size: 4em; }
.fi.fi-5x { font-size: 5em; }
.fi.fi-fw {
  width: 1.2857142857142858em;
  text-align: center;
}


$fi-arrow-left: "\EA01";
.fi.fi-arrow-left:before { display: block; content: "\EA01" }

$fi-arrow-right: "\EA02";
.fi.fi-arrow-right:before { display: block; content: "\EA02" }

$fi-calendar: "\EA03";
.fi.fi-calendar:before { display: block; content: "\EA03" }

$fi-change-destination: "\EA04";
.fi.fi-change-destination:before { display: block; content: "\EA04" }

$fi-map-marker: "\EA05";
.fi.fi-map-marker:before { display: block; content: "\EA05" }

