.search-result {
    margin: 10px;
    min-height: 80px;

    &.loading {
        background-color: #fff;
        background-image: url(#{$img-path}ajax-loader.gif);
        background-position: center;
        background-repeat: no-repeat;
    }

    &__top {
        display: flex;
    }

    &__item {
        border: 1px solid $gray-400;
        padding: 10px;
        border-radius: 3px;
        margin: 10px 0;
    }

    &__time {
        color: $primary;
        display: flex;
        align-items: center;

        &-item {
            text-align: center;
            line-height: 1;
        }

        &-label {
            font-size: 10px;
            text-transform: uppercase;
        }

        &-value {
            font-size: 16px;
            font-weight: 500;
        }

        &-icon {
            font-size: 14px;
            margin: 0 8px;
        }

    }

    &__destination {
        font-size: 16px;
        font-weight: 500;
        margin-top: 5px;
    }

    &__price {
        font-size: 18px;
        line-height: 1;
        background: $red;
        color: $white;
        padding: 6px 10px;
        border-radius: 5px;
        margin-left: auto;
    }


}