form.search-form(data-search-form)
    .position-relative
        .search-form__group(data-search-location-select="origin")
            label.search-form__label Nereden
            .search-form__input-group
                i.fi.fi-map-marker.search-form__icon
                input.form-control.search-form__input(type="search" onkeyup="__locationJS.search(this);" id="origin-location" data-search-location-input placeholder="İl veya İlçe adı yazın")
            include ../../components/location-list/location-list
        .search-form__group(data-search-location-select="destination")
            label.search-form__label Nereye
            .search-form__input-group
                i.fi.fi-map-marker.search-form__icon
                input.form-control.search-form__input(type="search" onkeyup="__locationJS.search(this);" id="destination-location" data-search-location-input placeholder="İl veya İlçe adı yazın")
            include ../../components/location-list/location-list

        button(type="button" data-swap-location).search-form__change-destination-btn
            i.fi.fi-change-destination
    .search-form__group
        div(data-search-datepicker-select)
            label.search-form__label Tarih
            .search-form__input-group
                i.fi.fi-calendar.search-form__icon
                input.form-control.search-form__input(type="text" id="departure-date" readonly)
        .dropdown
            div(data-departure-picker)
        .search-form__date-btn-group
            button.search-form__date-btn(type="button" onclick="__dateJS.setQuickDate('today')" data-quick-date-btn="today") Bugün
            button.search-form__date-btn(type="button" onclick="__dateJS.setQuickDate('tomorrow')" data-quick-date-btn="tomorrow") Yarın

    .search-form__group.search-form__group--btn
        button.search-form__btn(type="submit") Bileti Bul
