.search-form {
    margin: 10px;

    &__group {
        position: relative;
        background: #fff;
        padding: 10px;
        margin: 5px 0;

        &--btn {
            background: none;
            max-width: 75%;
            margin: 0 auto;
            margin-top: 20px $i;
        }

    }

    &__input-group {
        position: relative;
        display: flex;
        align-items: flex-start;
    }

    &__label {
        display: block;
        font-size: 14px;
        font-weight: 500;
        color: $primary;
    }

    &__icon {
        font-size: 20px;
        width: 20px;
        color: $gray-600;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 7px 0;
    }

    &__input {
        font-size: 16px;
        padding: 5px 10px;
        padding-top: 6px;
        padding-bottom: 4px;
    }

    &__btn {
        display: block;
        text-align: center;
        border: none;
        background: $primary;
        color: $white;
        font-size: 18px;
        width: 100%;
        padding: 10px 20px;
        border-radius: 5px;

        &:focus {
            box-shadow: $btn-focus-box-shadow;
        }

    }

    &__change-destination-btn {
        font-size: 18px;
        border: 1px solid $gray-700;
        background: #fff;
        color: $gray-700;
        width: 35px;
        height: 35px;
        border-radius: 35px;
        position: absolute;
        z-index: 1;
        top: 50%;
        right: 10px;
        transform: translate(0, -50%);

        &:focus {
            box-shadow: $btn-focus-box-shadow;
        }

        .has-dropdown & {
            display: none;
        }
    }

    &__date-btn-group {
        position: absolute;
        top: 0;
        right: 0;
        padding: 5px;
        display: flex;
        flex-direction: column;
    }

    &__date-btn {
        background: none;
        border: 1px solid $gray-700;
        color: $gray-700;
        border-radius: 3px;
        margin: 2px 0;
        font-size: 14px;
        padding: 3px 10px;

        &:focus {
            box-shadow: $btn-focus-box-shadow;
        }

        &.active {
            background: $gray-700;
            color: #fff;
        }
    }


}