include _mixin

block variables

doctype html
html(lang="tr")

    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, minimum-scale=1")

        link(rel="stylesheet" href=path + "css/main.css")

        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,700&display=swap" rel="stylesheet")

    body(class=(body_class))
        block content

        script(src=path + "js/main.js")
        script(src=path + "js/app.js")
        block footerScript
