.location-list {
    &__item {
        padding: 10px;

        & + & {
            border-top: 1px solid $gray-300;
        }
    }
}

.dropdown {
    position: relative;
    border-top: 1px solid $gray-400;
    margin: 0 -10px;
    margin-top: 10px;
    margin-bottom: -10px;
    padding: 15px;
    box-shadow: inset 0 40px 20px -40px rgba($black, 0.1);
    display: none;
    min-height: 80px;

    &.loading {
        background-image: url(#{$img-path}ajax-loader.gif);
        background-position: center;
        background-repeat: no-repeat;
    }

    &:before {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -10px;
        @include triangle(down, 10px, $gray-400);
    }

    &:after {
        position: absolute;
        top: -2px;
        left: 50%;
        margin-left: -10px;
        @include triangle(down, 10px, $white);
    }

    .search-form__group.active & {
        display: block;
    }
}