.site-head {
    position: relative;
    padding: 20px;
    background: $primary;

    &__btn {
        background: none;
        border: none;
        font-size: 18px;
        color: $white;
        position: absolute;
        top: 50%;
        margin-top: (35px / 2) * -1;
        width: 35px;
        height: 35px;
        border-radius: 35px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:focus {
            background: darken($primary, 5%);
        }

        &--left {
            left: 10px;
        }

    }

}

.head-search {
    text-align: center;
    color: $white;
    line-height: 1;
    max-width: 75%;
    margin: 0 auto;

    &__location {
        font-size: 16px;
    }

    &__date {
        font-size: 14px;
        margin-top: 5px;
    }
}