extends inc/_layout

block variables
    - const body_class = 'homepage-body';

block content
    section.site-head
    section.home-content
        include ../components/search-form/search-form

block footerScript
    script.
        __appJS.init();