extends inc/_layout

block variables
    - const body_class = 'list-body';

block content
    header.site-head
        a(href="./index.html").site-head__btn.site-head__btn--left
            i.fi.fi-arrow-left
        .head-search
            .head-search__location(data-location) İstanbul Avrupa - Ankara
            .head-search__date(data-date) 25 Ekim Perşembe
    section.site-content.list-content
        include ../components/search-result/search-result

block footerScript
    script.
        __resultJS.init();

