.datepicker {
    width: 100%;

    &-view {
        .dow {
            font-weight: 500;
        }

        .days-of-week {
            margin-bottom: 10px;
        }
    }


    &-picker {
        display: block;
    }

    &-grid {
        width: auto;
    }

    button {
        border: none;
        background: none;

        &.prev-btn, &.next-btn {
            font-size: 20px;
            padding: 5px;
        }
    }

    &-controls {
        border-bottom: 1px solid $gray-300;
        padding-bottom: 15px;
        margin-bottom: 10px;

        .view-switch {
            font-size: 16px;
            font-weight: 500;
        }

    }

    &-footer {
        display: none;
    }



}